package {{ .SnakeCasedModelName }}

type Update{{ .PascalCasedModelName }}DTO struct {
{{- range $property := .UpdateDTOProperties }}
    {{$property.Name}}  {{$property.DataType}} {{$property.JsonString}}
{{- end}}
}
