package {{ .SnakeCasedModelName }}

type Create{{ .PascalCasedModelName }}Validator struct {
{{- range $property :=  .CreateValidatorProperties }}
	{{$property.Name}}  {{$property.DataType}} {{$property.ValidateString}}
{{- end}}
}
